.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Vim
*.swp

# Distribution / packaging
*.egg-info/
dist
build
.venv/

# VScode IDE
.vscode/
.env

# Local data and scratch
.scratch

# Jupyter
.ipynb_checkpoints

# SLURM
slurm-*

# Wandb
wandb/
